<form method="get" action="/index">
	<h1>
		설문조사 생성
	</h1></br></br>
	
	<input style="height:30px; width:400px" type="text" name="question" placeholder="질문을 입력하세요"/></br></br>
	<input style="height:30px; margin:10px" type="text" name="ans1" value="1"/>
	<input style="height:30px; margin:10px" type="text" name="ans2" value="2"/>
    <input style="height:30px; margin:10px" type="text" name="ans3" value="3"/>
	<input style="height:30px; margin:10px" type="text" name="ans4" value="4"/>
	<input style="height:30px; margin:10px" type="text" name="ans5" value="5"/>
<input type="submit"/>	
 </form>